{% extends 'base.html.twig' %}

{% block title %}Ajouter une carte
{% endblock %}

{% block body %}
	<h1 class="my-h1">Ajouter une carte</h1>

	{{ form_errors(form) }}

	{{ form_start(form) }}
	<div>
		{{ form_label(form.name) }}
		{{ form_widget(form.name) }}

		<button type="button" class="btn" id="random">Générer un nom aléatoire</button>
	</div>

	{{ form_row(form.imageFile, {
    label: "Image de la carte"
  }) }}
	{{ form_row(form.class, {
    label: "Classe"
  }) }}
	{{ form_row(form.type, {
    label: "Type"
  }) }}
	{{ form_row(form.power, {
      label: "Puisance d'attaque"
  }) }}

	<button type="submit" class="btn">Ajouter</button>
	{{ form_end(form) }}


	<script>
		document.getElementById('random').addEventListener('click', function () {
fetch('{{ path('app_card_generate') }}').then(response => response.json()).then(data => {
document.getElementById('{{ form.name.vars.id }}').value = data.name;
}).catch(error => console.error('Erreur:', error));
});
	</script>

{% endblock %}
