{% extends 'base.html.twig' %}

{% block title %}Éditer
	{{ card.name }}
{% endblock %}

{% block body %}
	<h1 class="my-h1">Éditer
		{{ card.name }}</h1>

	<div class="flex flex-col justify-center items-center gap-4 w-4/5 lg:w-3/5 mx-auto">


		{{ form_errors(form) }}

		{{ form_start(form, {'attr': {'class': 'my-form'}}) }}
		<div class="flex gap-2 flex-col">
			{{ form_label(form.name, "Nom de la carte") }}
			<div class="flex gap-4 flex-col">
				{{ form_widget(form.name) }}

				<button type="button" class="my-button" id="random">Générer un nom aléatoire</button>
			</div>
		</div>
		{{ form_row(form.imageFile, {
    label: "Image de la carte"
  }) }}
		{{ form_row(form.class, {
    label: "Classe"
  }) }}
		{{ form_row(form.type, {
    label: "Type"
  }) }}
		{{ form_row(form.power, {
      label: "Puisance d'attaque"
  }) }}

		<button type="submit" class="my-button mt-6">Éditer</button>
		{{ form_end(form) }}

	</div>

	<script>
		document.getElementById('random').addEventListener('click', function () {
fetch('{{ path('app_card_generate') }}').then(response => response.json()).then(data => {
document.getElementById('{{ form.name.vars.id }}').value = data.name;
}).catch(error => console.error('Erreur:', error));
});
	</script>
{% endblock %}
