{% extends 'base.html.twig' %}

{% block title %}Mes cartes
{% endblock %}

{% block body %}
	<h1 class="my-h1">Mes cartes</h1>

	{% if is_granted('ROLE_ADMIN') %}
		<a class="btn" href="{{ path('app_dashboard') }}">Voir le dashboard</a>
	{% endif %}

	<a class="btn" href="{{ path('app_card_add') }}">Ajouter une carte</a>

	{% if cards|length == 0 %}
		<p>Vous n'avez pas encore de carte.</p>
	{% endif %}

	<div class="flex gap-10 mt-4">
		{% for card in cards %}
			<div class="flex flex-col gap-4">
				<twig:Card card="{{card}}" type="{{card.type.name}}" class="{{card.class.name}}"/>
				<div class="flex gap-2 flex-col">
					<a class="my-button" href="{{ path('app_card_edit', {id: card.id}) }}">Éditer la carte</a>
					<a class="my-button" href="{{ path('app_card_delete', {id: card.id}) }}">Supprimer la carte</a>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
