{% extends 'base.html.twig' %}

{% block title %}
	{{ card.name }}
{% endblock %}

{% block body %}
	<h1>{{ card.name }}</h1>

		<p>{{ card.class.name }}</p>
		<p>{{ card.type.name }}</p>
		<p>{{ card.power }}</p>
		<p>{{ card.user.username }}</p>

    <a href="{{ path('app_card_edit', {id: card.id}) }}" class="btn">Editer</a>
{% endblock %}
