{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<h1 class="my-h1">Runic Arena</h1>

	<p class="my-p">Bienvenue sur Runic Arena, le jeu de cartes en ligne !</p>

	<p class="my-p">Vous pouvez en ajouter de nouvelles.</p>
	<a href="{{ path('app_card_add') }}" class="my-button">Ajouter une carte</a>

	{% if lastCards is not empty %}
		<h2 class="my-h2">Les dernières cartes ajoutées</h2>
		<div class="flex gap-10">
			{% for card in lastCards %}
				<div class="my-card">
					<img src="{{ vich_uploader_asset(card) }}" alt="{{ card.name }}">
					<h3 class="my-card-title">{{ card.name }}</h3>
					<div class="my-card-power-div">
						<p class="my-card-power-nb">{{ card.power }}</p>
						<p class="my-card-power-text">atk</p>
					</div>
				</div>
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}
